# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

title: Who owns Lausanne?
description: >- # this means to ignore newlines until "baseurl:"
  Finding real estate or just housing in Lausanne is hard. We ask, why? And
  who owns these expensive properties? Follow us on our journey to discover
  to real estate situation in different parts of Lausanne.
baseurl: "/" # the subpath of your site, e.g. /blog
url: "https://who-owns-lausanne.github.io/"
github_username:  who-owns-lausanne

# Build settings
markdown: kramdown



# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
