
<header class="question {% if include.in_text %} in-text {% endif %}">
  {% if include.image_url %}
    <div
      class="background"
      style="background-image: url('{{ include.image_url | prepend: full_base_url }}')"
    ></div>
  {% else %}
    <div class="background"></div>
  {% endif %}


  <div class="container">
    <h1>
      {{ include.text }}
    </h1>

    {% unless include.content == blank %}
      <p class="col-sm-6">
        {{ include.content | strip_html }}
      </p>
    {% endunless %}
  </div>
</header>
